<p style="color: green"><%= notice %></p>

<% if @user %>
  <strong>Welcome</strong>
  <%= @user.email %>  

  <%= button_to "logout", destroy_user_session_path, method: :delete  %>  
  <%= button_to "edit", edit_user_registration_path, method: :get  %>  

<% else %>
  <%= button_to "login", new_user_session_path, method: :get  %>  
  <%= button_to "signup", new_user_registration_path, method: :get  %>    
<% end %>



<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <% if @user %>
      <p>
        <strong>User:</strong>
        <%= post.user.name %>
     </p>
    <% end %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
